<div class="row">
    <!-- left column -->
    <form onsubmit="salvarDados()" id="form_elementos" role="form" name="form_elementos">
        <!--Inicio -- col-md-6-->
        <div class="col-md-6">
            <!-- /.box -->
            <!-- general form elements disabled -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Classificação</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Selection Input-->
                    <div class="form-group">
                        <label>Data de incubação</label>
                        <input id="inputData" name="inputData" type="date" class="form-control">
                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <label>Protocolo</label>
                        <input id="protocolo" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Mercado</label>
                        <select id="mercado" class="form-control select2" onchange="loadMatPrima()">
                            <option value="controle">--Selecione--</option>
                            <option value="m1">Agroindústria</option>
                            <option value="m2">Cultura energética</option>
                            <option value="m3">Garantia de qualidade</option>
                            <option value="m4">Indústria</option>
                            <option value="m5">Resíduo urbano</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Origem da Matéria Prima</label>
                        <select id="origem_mp" class="form-control select2" style="width: 100%;" onchange="loadSetor()"></select>
                    </div>
                    <div class="form-group">
                        <label>Setor</label>
                        <select id="setor" class="form-control select2" style="width: 100%;" onchange="loadAmostra()"></select>
                    </div>
                    <div class="form-group">
                        <label>Amostra/fase</label>
                        <select id="amostra" class="form-control select2" style="width: 100%;">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Ponto de Coleta</label>
                        <input id="ponto_coleta" type="text" class="form-control">
                        </select>
                    </div>
                    <!-- textarea -->
                    <div class="form-group">
                        <label>Informações Complementares</label>
                        <textarea id="complemento" class="form-control" rows="3" placeholder="Observações ..."></textarea>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!--Fim -- col-md-6-->
    </form>
    <!-- /.row -->
</div>